/* Couleurs thème 01 */

:root {
  --c0: rgba(8, 8, 8, 1);
  --c1: rgba(8, 8, 8, 0.98);
  --c2: rgba(248, 248, 248, 0.95);
  --c3: rgba(255, 192, 32, 0.98);
  --c4: rgba(255, 144, 32, 0.98);
  --c5: rgba(32, 192, 255, 0.98);
  --c6: rgba(28, 28, 36, 0.98);
  --c7: rgba(54, 54, 62, 0.98);
  --c8: rgba(176, 48, 56, 0.98);
  --c9: rgba(18, 18, 26, 0.98);
  --c10: rgba(0, 112, 0, 0.98);
  --c11: rgba(128, 128, 136, 0.98);
  --c12: rgba(68, 68, 76, 0.98);
  --cnews: rgba(28, 28, 28, 0.95);
  --c14: rgba(112, 48, 56, 0.98);
  --c15: rgba(18, 18, 18, 0.98);
  --c16: rgba(158, 158, 162, 0.98);
}

/* Base */
a,
aside,
body,
div,
html,
main,
nav,
span {
  color: var(--c2);
}

/* Body */
body {
  background-color: var(--c0);
}

/* Menu */
.menu {
  background-color: var(--c1);
  color: var(--c2);
  outline: 4px solid var(--c7);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.menu span a,
.menu span a:visited {
  color: var(--c2);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.menu span a:hover {
  color: var(--c3);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.menu span a.logo {
  color: var(--c3);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.logobarre {
  color: var(--c4);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.logoinfo {
  color: var(--c5);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.menu span a.logo:hover {
  outline: 3px solid var(--c2);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.menu span a.menu_dates,
.menu span a.menu_dates:hover {
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.menu span a.menu_dates:hover {
  outline: 3px solid var(--c2);
}

.menu span a.logo:hover,
.menu span a.logo:hover .logoinfo {
  color: var(--c2);
}

.menu span a.page_active {
  color: var(--c3);
  outline: 3px solid var(--c3);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

.menu span a.page_active:hover,
.menu span a:hover {
  color: var(--c2);
  outline: 3px solid var(--c2);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 720;
  font-weight: 720;
}

/* News */
.mid {
  background-color: var(--c0);
  color: var(--c2);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

.site {
  background-color: var(--c2);
  color: var(--c1);
  outline: 4px solid var(--c15);
  outline-offset: -3px;
  border-radius: 12px;
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.site_nbre_news {
  color: var(--c14);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.lien_site {
  color: var(--c14);
  outline: 3px solid var(--c14);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.lien_site:hover {
  outline: 3px solid var(--c8);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.site_nom {
  color: var(--c14);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.lien_site:hover .site_nom {
  color: var(--c8);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 532;
  font-weight: 532;
}

.ay {
  color: var(--c10);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 480;
  font-weight: 480;
}

.b {
  border-top: 1px solid var(--c16);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n {
  color: var(--cnews);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n:visited {
  color: var(--c11);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n::before {
  color: var(--c11);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n:visited::before {
  color: var(--c8);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n:visited:hover::before {
  color: var(--c8);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n:hover {
  color: var(--c8);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

a.n:hover::before {
  color: var(--c8);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

.bu {
  border-top: 1px solid var(--c16);
  color: var(--cnews);
  font-synthesis-small-caps: auto;
  font-synthesis-weight: auto;
  font-synthesis: style;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  font-variation-settings: "wdth" 100;
  font-variation-settings: "wght" 428;
  font-weight: 428;
}

/* Messages */
.messages {
  background-color: var(--c1);
  color: var(--c2);
  outline: 4px solid var(--c7);
}

.messages span a {
  color: var(--c2);
}
.messages span a:hover {
  color: var(--c3);
}

/* Séparation */
.separe {
  color: var(--c5);
}

/* Responsive */
@media (max-width: 1151px) {
  a.n:hover {
    background-color: var(--c9);
    color: var(--c3);
    outline: 9px solid var(--c9);
    outline-offset: 0;
  }

  a.n:visited:hover::before {
    color: var(--c5);
  }

  a.n:hover {
    color: var(--c3);
  }

  a.n:hover::before {
    color: var(--c3);
  }
}

/* Ecrans > HD */
@media (min-width: 1921px) {
  /* Menu */
  .menu {
    outline: round(calc(4 / 1920 * 100vw), 1px) solid var(--c7);
  }

  .menu span a.logo:hover,
  .menu span a.menu_dates:hover {
    outline: round(calc(3 / 1920 * 100vw), 1px) solid var(--c2);
  }

  .menu span a.page_active {
    outline: round(calc(3 / 1920 * 100vw), 1px) solid var(--c3);
  }

  .menu span a.page_active:hover,
  .menu span a:hover {
    outline: round(calc(3 / 1920 * 100vw), 1px) solid var(--c2);
  }

  /* Messages */
  .messages {
    outline: round(calc(4 / 1920 * 100vw), 1px) solid var(--c7);
  }

  /* News */
  .site {
    outline: round(calc(4 / 1920 * 100vw), 1px) solid var(--c15);
    outline-offset: round(calc(-3 / 1920 * 100vw), 1px);
    border-radius: round(calc(12 / 1920 * 100vw), 1px);
  }

  .lien_site {
    outline: round(calc(3 / 1920 * 100vw), 1px) solid var(--c14);
  }

  .lien_site:hover {
    outline: round(calc(3 / 1920 * 100vw), 1px) solid var(--c8);
  }

  .b {
    border-top: round(calc(1 / 1920 * 100vw), 1px) solid var(--c16);
  }

  .bu {
    border-top: round(calc(1 / 1920 * 100vw), 1px) solid var(--c16);
  }
}
