/* Main */

.siteGauche,
.siteDroite,
.boite,
.actu,
.ay,
.bu,
.b,
.b a,
aside {
  background-color: rgba(253, 254, 255, 1);
}

.enTete,
.lienSite,
.majSite {
  background-color: rgba(245, 246, 247, 1);
}

.lienSite a span,
.majSite span,
.ay,
.bu {
  color: rgba(70, 75, 80, 0.95);
}

.b,
.b a {
  color: rgba(7, 8, 9, 0.95);
}

a.n::selection {
  background: rgba(255, 245, 220, 0.95);
  color: rgba(60, 45, 0, 0.95);
}

a.n::-moz-selection {
  background: rgba(255, 245, 220, 0.95);
  color: rgba(60, 45, 0, 0.95);
}

main,
.sites {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.sitesPar2,
.siteGauche,
.siteDroite {
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.siteGauche,
.siteDroite {
  align-items: flex-start;
  justify-content: flex-start;
}

.siteGauche {
  margin-top: 0;
  margin-right: auto;
}

.siteDroite {
  margin-top: 0;
  margin-left: auto;
}

.boite {
  display: flex;
  align-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.actu {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.enTete {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

.lienSite {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Open Sans Condensed", sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.lienSite a {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Open Sans Condensed", sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.lienSite a img {
  align-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: auto;
}

.lienSite a span,
.lienSite a:hover span {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Open Sans Condensed", sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.majSite {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-end;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: right;
  vertical-align: middle;
  visibility: visible;
  width: auto;
}

.majSite span {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-end;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.majSite span span {
  align-self: center;
  order: 0;
  flex: 0 1 auto;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.majSite span span img {
  align-self: center;
  display: flex;
  align-items: center;
  opacity: 0.95;
  white-space: nowrap;
  width: auto;
}

.enTete,
.lienSite {
  margin: 0;
}

.majSite,
.majSite span span,
.majSite span span img {
  margin: auto;
}

.majSite span span img {
  width: auto;
}

.b {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.ay {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Open Sans Condensed", sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.bu {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Open Sans Condensed", sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}

.b a {
  border: 0;
  display: inline;
  height: auto;
  margin: 0;
  margin-bottom: auto;
  margin-top: auto;
  overflow: hidden;
  position: relative;
  text-align: left;
  vertical-align: baseline;
  white-space: nowrap;
}

a:hover,
a:hover img,
a:hover span,
a:hover div,
a.n:hover {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

main,
article,
.b a,
.b a:hover,
a:hover,
a:hover img,
a:hover span,
a:hover div,
a.n,
a.n:hover {
  white-space: nowrap;
}

a.n {
  align-self: center;
  order: 0;
  flex: 0 1 auto;
  text-align: left;
  vertical-align: baseline;
}

.ay::before {
  content: "\1F4C5\00a0 ";
}

.bu::before {
  content: "\1F4F0\00a0";
}

.ay::before,
.bu::before {
  margin-bottom: auto;
  margin-top: auto;
}

/* Main vw */

.boite {
  border: calc(1 / 1920 * 100vw) solid rgba(157, 158, 159, 1);
}

main {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(38.05 / 1920 * 100vw);
}

.siteGauche,
.siteDroite {
  width: calc(50% - calc(12.05 / 1920 * 100vw));
}

.siteGauche {
  margin-bottom: calc(8 / 1920 * 100vw);
  margin-left: calc(8 / 1920 * 100vw);
}

.siteDroite {
  margin-right: calc(8 / 1920 * 100vw);
  margin-bottom: calc(8 / 1920 * 100vw);
}

.enTete {
  margin-bottom: 0;
  margin-left: calc(8 / 1920 * 100vw);
  margin-top: calc(8 / 1920 * 100vw);
  width: calc(100% - (16 / 1920 * 100vw));
}

.enTete {
  border: calc(1 / 1920 * 100vw) solid rgba(177, 178, 179, 0.96);
}

.lienSite,
.lienSite a,
.lienSite a span,
.lienSite a:hover span {
  font-size: calc(19 / 1920 * 100vw);
  line-height: calc(39.05 / 1920 * 100vw);
}

.lienSite a img {
  height: calc(33.05 / 1920 * 100vw);
  margin: calc(8 / 1920 * 100vw);
  margin-right: calc(6 / 1920 * 100vw);
}

.lienSite a span,
.lienSite a:hover span {
  margin-right: calc(5 / 1920 * 100vw);
}

.majSite,
.majSite span,
.majSite span span {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(39.05 / 1920 * 100vw);
}

.majSite {
  margin-left: calc(3 / 1920 * 100vw);
  margin-right: calc(3 / 1920 * 100vw);
}

.majSite span {
  margin-right: calc(5 / 1920 * 100vw);
}

.majSite span span img {
  height: calc(18 / 1920 * 100vw);
  margin-left: calc(5 / 1920 * 100vw);
}

.actu {
  margin-bottom: calc(-1 / 1920 * 100vw);
}

.ay,
.bu,
.b {
  font-size: calc(18 / 1920 * 100vw);
  height: calc(39.05 / 1920 * 100vw);
  line-height: calc(38.05 / 1920 * 100vw);
  margin-left: calc(12 / 1920 * 100vw);
  width: calc(100% - calc(24 / 1920 * 100vw));
}

.ay::before,
.bu::before {
  margin-left: calc(3 / 1920 * 100vw);
}

.b a {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(38.05 / 1920 * 100vw);
  margin-left: calc(6 / 1920 * 100vw);
  max-width: calc(100% - calc(12 / 1920 * 100vw));
}

main,
article,
a:hover,
a:hover img,
a:hover span,
a:hover div {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(38.05 / 1920 * 100vw);
}

a.n,
a.n:hover {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(38.05 / 1920 * 100vw);
}

.b {
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(39.05 / 1920 * 100vw);
  justify-content: flex-start;
  line-height: calc(38.05 / 1920 * 100vw);
  vertical-align: middle;
  white-space: nowrap;
}

.b a,
.b a:hover,
a.n,
a.n:hover {
  line-height: calc(38.05 / 1920 * 100vw);
  margin-bottom: auto;
  margin-top: auto;
  white-space: nowrap;
}

.b a,
a.n,
a.n:hover {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(38.05 / 1920 * 100vw);
  margin-bottom: auto;
  margin-top: auto;
}

.ay,
.bu {
  border-bottom: calc(1 / 1920 * 100vw) solid rgba(197, 198, 199, 1);
}

.b {
  border-bottom: calc(1 / 1920 * 100vw) solid rgba(197, 198, 199, 1);
}
