
/* Media */

@media (max-width: 640px) {
  nav#haut a img,
  nav#bas a img {
    border-bottom: 6px solid rgba(40, 130, 220, 0.04);
    padding-bottom: 5px;
  }

  nav#haut a.pageActive img,
  nav#haut a:hover img,
  nav#bas a.pageActive img,
  nav#bas a:hover img {
    border-bottom: 6px solid rgba(253, 254, 255, 0.96);
    padding-bottom: 5px;
  }

  nav#haut a div,
  nav#bas a div {
    display: none;
    visibility: hidden;
  }

  nav#sousmenu span#SousMenuHautThemes,
  nav#sousmenu span#SousMenuHautHeureMajPage {
    display: none;
  }

  nav#sousmenu span#SousMenuHautPages {
    display: flex;
  }

  .lienSite {
    justify-content: center;
  }

  .lienSite,
  .lienSite a,
  .lienSite a span,
  .lienSite a:hover span {
    font-size: 20px;
    line-height: 36px;
  }

  .lienSite {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .majSite {
    display: none;
  }

  .b {
    align-content: start;
    align-items: start;
    flex-wrap: wrap;
    height: auto;
    justify-content: start;
    line-height: 27px;
    vertical-align: top;
    white-space: normal;
  }

  .b a,
  .b a:hover,
  a.n,
  a.n:hover {
    line-height: 27px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-top: 6px;
    max-width: calc(100% - 12px);
    white-space: normal;
  }

  .b a,
  a.n,
  a.n:hover {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 6px;
    margin-top: 6px;
  }
}

@media (min-width: 641px) {
  nav#haut a img,
  nav#bas a img {
    border-bottom: 0;
    padding-bottom: 0;
  }

  nav#haut a.pageActive img,
  nav#haut a:hover img,
  nav#bas a.pageActive img,
  nav#bas a:hover img {
    border-bottom: 0;
    padding-bottom: 0;
  }

  nav#haut a div,
  nav#bas a div {
    visibility: visible;
  }

  nav#sousmenu span#SousMenuHautThemes,
  nav#sousmenu span#SousMenuHautHeureMajPage {
    display: flex;
  }

  nav#sousmenu span#SousMenuHautPages {
    display: none;
  }

  .lienSite {
    justify-content: flex-start;
    margin: 0;
    margin-right: auto;
  }

  .majSite {
    display: flex;
  }

  .b {
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: flex-start;
    line-height: 39px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .b a,
  .b a:hover,
  a.n,
  a.n:hover {
    line-height: 39px;
    margin-bottom: auto;
    margin-top: auto;
    white-space: nowrap;
  }

  .b a,
  a.n,
  a.n:hover {
    font-size: 18px;
    line-height: 39px;
    margin-bottom: auto;
    margin-top: auto;
  }
}

@media (min-width: 642px) and (max-width: 1920px) {
  .lienSite,
  .lienSite a,
  .lienSite a span,
  .lienSite a:hover span {
    font-size: 20px;
    line-height: 36px;
  }

  .majSite,
  .majSite span,
  .majSite span span {
    font-size: 18px;
    line-height: 36px;
  }
}

@media (max-width: 1920px) {
  /* Base */

  html,
  body {
    font-size: 18px;
  }

  body,
  a,
  article,
  aside,
  div,
  form,
  main,
  nav,
  option,
  section,
  select,
  span {
    line-height: 27px;
  }

  /* Nav */

  nav#haut {
    border-bottom: 8px solid rgba(120, 180, 240, 1);
  }

  nav#bas {
    border-bottom: 8px solid rgba(120, 180, 240, 1);
    border-top: 7px solid rgba(100, 165, 230, 1);
  }

  nav#haut a,
  nav#bas a {
    margin: 18px 0 0 0;
  }

  nav#haut a div,
  nav#bas a div {
    border-bottom: 6px solid rgba(40, 130, 220, 0.04);
  }

  nav#haut a.pageActive div,
  nav#haut a:hover div,
  nav#bas a.pageActive div,
  nav#bas a:hover div {
    border-bottom: 6px solid rgba(253, 254, 255, 0.96);
  }

  nav#haut a div,
  nav#bas a div {
    font-size: 21px;
    line-height: 39px;
    text-shadow: 1px 1px 1px rgba(20, 25, 30, 0.65);
  }

  /* Sous-Menu */

  nav#sousmenu,
  nav#sousmenu a,
  nav#sousmenu span,
  nav#sousmenubas a,
  nav#sousmenubas,
  nav#sousmenubas span,
  nav#sousmenubas form,
  nav#sousmenubas form select,
  nav#sousmenubas form option,
  form,
  select,
  option {
    font-size: 18px;
    line-height: 36px;
  }

  nav#sousmenu {
    border-bottom: 1px solid rgba(167, 168, 169, 1);
    margin: 0 0 8px 0;
  }

  nav#sousmenubas {
    border-top: 1px solid rgba(167, 168, 169, 1);
  }

  nav#sousmenu span,
  nav#sousmenubas span,
  nav#sousmenubas form {
    margin: 6px;
  }

  /* Main */

  main,
  article {
    font-size: 18px;
    line-height: 36px;
  }

  .boite {
    border: 1px solid rgba(157, 158, 159, 1);
  }

  .siteGauche,
  .siteDroite {
    width: calc(50% - 12px);
  }

  .siteGauche {
    margin-bottom: 8px;
    margin-left: 8px;
  }

  .siteDroite {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .enTete {
    margin-bottom: 0;
    margin-left: 8px;
    margin-top: 8px;
    width: calc(100% - 16px);
  }

  .enTete {
    border: 1px solid rgba(177, 178, 179, 0.96);
  }

  .lienSite a img {
    height: 36px;
    margin: 8px;
    margin-right: 6px;
  }

  .lienSite a span,
  .lienSite a:hover span {
    margin-right: 3px;
  }

  .majSite {
    margin-left: 3px;
    margin-right: 3px;
  }

  .majSite span {
    margin-right: 9px;
  }

  .majSite span span img {
    height: 18px;
    margin-left: 6px;
  }

  .actu {
    margin-bottom: -1px;
  }

  .ay,
  .bu {
    font-size: 18px;
    height: 40px;
    line-height: 39px;
    margin-left: 12px;
    width: calc(100% - 24px);
  }

  .ay,
  .bu {
    border-bottom: 1px solid rgba(197, 198, 199, 1);
  }

  .ay::before,
  .bu::before {
    margin-left: 4px;
  }

  .b a {
    font-size: 18px;
  }

  .b {
    font-size: 18px;
    margin-left: 12px;
    width: calc(100% - 24px);
  }

  .b {
    border-bottom: 1px solid rgba(197, 198, 199, 1);
  }
}

@media (max-width: 960px) {
  nav#haut a div,
  nav#bas a div {
    font-size: 21px;
    line-height: 39px;
  }

  nav#sousmenu,
  nav#sousmenu a,
  nav#sousmenu span,
  nav#sousmenubas a,
  nav#sousmenubas,
  nav#sousmenubas span,
  nav#sousmenubas form,
  nav#sousmenubas form select,
  nav#sousmenubas form option,
  form,
  select,
  option {
    font-size: 18px;
    line-height: 36px;
  }

  nav#sousmenu span#SousMenuHautStats_ou_Donateurs,
  nav#sousmenu span#SousMenuHautDivers_ou_Paypal {
    display: none;
  }

  /* Main */

  .siteGauche,
  .siteDroite {
    width: calc(100% - 16px);
  }

  .siteGauche {
    margin-left: 8px;
  }

  .siteDroite {
    margin-left: 8px;
  }

  /* Messages */

  section.messagebas,
  section.messagebas section,
  section.messagebas section a,
  section.messagebas section select,
  section.messagehaut,
  section.messagehaut section,
  section.messagehaut section a,
  section.messagehaut section select {
    font-size: 18px;
    line-height: 27px;
  }

  section.messagehaut section,
  section.messagebas section {
    margin: 10px 18px;
  }
}

@media (min-width: 642px) and (max-width: 960px) {
  .b {
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: flex-start;
    line-height: 39px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .b a,
  .b a:hover,
  a.n,
  a.n:hover {
    line-height: 39px;
    margin-bottom: auto;
    margin-top: auto;
    white-space: nowrap;
  }

  .b a,
  a.n,
  a.n:hover {
    font-size: 18px;
    line-height: 39px;
    margin-bottom: auto;
    margin-top: auto;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  nav#haut a div,
  nav#bas a div {
    font-size: 21px;
    line-height: 39px;
  }

  nav#sousmenu,
  nav#sousmenu a,
  nav#sousmenu span,
  nav#sousmenubas a,
  nav#sousmenubas,
  nav#sousmenubas span,
  nav#sousmenubas form,
  nav#sousmenubas form select,
  nav#sousmenubas form option,
  form,
  select,
  option {
    font-size: 18px;
    line-height: 36px;
  }

  nav#sousmenu span#SousMenuHautStats_ou_Donateurs,
  nav#sousmenu span#SousMenuHautDivers_ou_Paypal {
    display: flex;
  }

  /* Main */

  .siteGauche,
  .siteDroite {
    width: calc(50% - 12px);
  }

  .siteGauche {
    margin-left: 8px;
  }

  .siteDroite {
    margin-right: 8px;
  }

  .b {
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 40px;
    justify-content: flex-start;
    line-height: 39px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .b a,
  .b a:hover,
  a.n,
  a.n:hover {
    line-height: 39px;
    margin-bottom: auto;
    margin-top: auto;
    white-space: nowrap;
  }

  .b a,
  a.n,
  a.n:hover {
    font-size: 18px;
    line-height: 39px;
    margin-bottom: auto;
    margin-top: auto;
  }

  .b a {
    font-size: 18px;
    line-height: 39px;
    margin-left: 4px;
    max-width: calc(100% - 8px);
  }
}

@media (min-width: 1921px) {
  nav#haut a div,
  nav#bas a div {
    font-size: calc(21 / 1920 * 100vw);
    line-height: calc(39 / 1920 * 100vw);
  }

  nav#sousmenu,
  nav#sousmenu a,
  nav#sousmenu span,
  nav#sousmenubas a,
  nav#sousmenubas,
  nav#sousmenubas span,
  nav#sousmenubas form,
  nav#sousmenubas form select,
  nav#sousmenubas form option,
  form,
  select,
  option {
    font-size: calc(18 / 1920 * 100vw);
    line-height: calc(36 / 1920 * 100vw);
  }

  nav#sousmenu span#SousMenuHautStats_ou_Donateurs,
  nav#sousmenu span#SousMenuHautDivers_ou_Paypal {
    display: flex;
  }

  /* Main */

  .siteGauche,
  .siteDroite {
    width: calc(50% - calc(12.05 / 1920 * 100vw));
  }

  .siteGauche {
    margin-left: calc(8 / 1920 * 100vw);
  }

  .siteDroite {
    margin-right: calc(8 / 1920 * 100vw);
  }

  .b {
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: calc(40.05 / 1920 * 100vw);
    justify-content: flex-start;
    line-height: calc(39 / 1920 * 100vw);
    vertical-align: middle;
    white-space: nowrap;
  }

  .b a,
  .b a:hover,
  a.n,
  a.n:hover {
    line-height: calc(39 / 1920 * 100vw);
    margin-bottom: auto;
    margin-top: auto;
    white-space: nowrap;
  }

  .b a,
  a.n,
  a.n:hover {
    font-size: calc(18 / 1920 * 100vw);
    line-height: calc(39 / 1920 * 100vw);
    margin-bottom: auto;
    margin-top: auto;
  }
}
