/* Menu */

.menu {
  align-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgb(40, 130, 220) 5%,
    rgb(0, 95, 190) 65%,
    rgb(25, 95, 195) 95%
  );
  display: grid;
  font-family: "Open Sans Condensed", sans-serif;
  gap: 0px 0px;
  grid-area: menu;
  grid-auto-flow: row;
  grid-template-areas: "menu-1 menu-2 menu-3 menu-4 menu-5 menu-6 menu-7 menu-8 menu-9 menu-10";
  grid-template-columns: repeat(9, minmax(10vw, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  z-index: 120;
}

.menu-01 {
  grid-area: menu-1;
  z-index: 129;
}

.menu-02 {
  grid-area: menu-2;
  z-index: 128;
}

.menu-03 {
  grid-area: menu-3;
  z-index: 127;
}

.menu-04 {
  grid-area: menu-4;
  z-index: 126;
}

.menu-05 {
  grid-area: menu-5;
  z-index: 125;
}

.menu-06 {
  grid-area: menu-6;
  z-index: 124;
}

.menu-07 {
  grid-area: menu-7;
  z-index: 123;
}

.menu-08 {
  grid-area: menu-8;
  z-index: 122;
}

.menu-09 {
  grid-area: menu-9;
  z-index: 121;
}

.menu-link {
  display: grid;
  min-height: max-content;
  min-width: max-content;
  width: auto;
  z-index: 130;
}

.menu-link a.ma:hover,
.active a.ma {
  background: radial-gradient(
    circle,
    rgb(75, 195, 255) 5%,
    rgb(50, 145, 225) 50%,
    rgb(25, 95, 195) 95%
  );
}

.menu-link a.ma {
  align-content: center;
  align-items: center;
  display: grid;
  font-family: "Open Sans Condensed", sans-serif;
  justify-content: center;
  justify-items: center;
  z-index: 131;
}

.menu-link a.ma img {
  display: flex;
  height: auto;
  min-height: 28px;
  max-height: 5.625vw;
  z-index: 132;
  width: auto;
}

.menu-link a.ma div {
  color: rgba(245, 250, 255, 0.95);
  display: flex;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  z-index: 132;
}

@media (max-width: 840px) {
  nav.menu,
  nav.menu div,
  nav.menu div a,
  nav.menu div a div {
    font-size: 18px;
    line-height: 22px;
  }

  .menu-link:hover,
  .active {
    box-shadow: 0 -7px 6px 3px rgba(20, 24, 28, 0.3);
    outline: 2px solid rgba(120, 180, 245, 0.6);
    outline-offset: -1px;
  }

  .menu-link a.ma {
    padding: 9px 6px 6px 6px;
  }

  .menu-link a.ma div {
    display: none;
  }
}

@media (min-width: 841px) and (max-width: 1680px) {
  nav.menu,
  nav.menu div,
  nav.menu div a,
  nav.menu div a div {
    font-size: 18px;
    line-height: 22px;
  }

  .menu-link:hover,
  .active {
    box-shadow: 0 -7px 6px 3px rgba(20, 24, 28, 0.3);
    outline: 2px solid rgba(120, 180, 245, 0.6);
    outline-offset: -1px;
  }

  .menu-link a.ma {
    padding: 15px 12px 12px 12px;
  }

  .menu-link a.ma div {
    display: flex;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 1px 1px 1px rgba(20, 30, 40, 0.5);
    margin: 3px auto 0 auto;
  }
}

@media (min-width: 1681px) {
  nav.menu,
  nav.menu div,
  nav.menu div a,
  nav.menu div a div {
    font-size: calc(21 / 1920 * 100vw);
    line-height: calc(25 / 1920 * 100vw);
  }

  .menu-link:hover,
  .active {
    box-shadow: 0 calc(-7 / 1920 * 100vw) calc(6 / 1920 * 100vw)
      calc(3 / 1920 * 100vw) rgba(20, 24, 28, 0.3);
    outline: calc(2 / 1920 * 100vw) solid rgba(120, 180, 245, 0.6);
    outline-offset: calc(-1 / 1920 * 100vw);
  }

  .menu-link a.ma {
    padding: calc(18 / 1920 * 100vw) calc(15 / 1920 * 100vw)
      calc(15 / 1920 * 100vw) calc(15 / 1920 * 100vw);
  }

  .menu-link a.ma div {
    display: flex;
    font-size: calc(21 / 1920 * 100vw);
    line-height: calc(25 / 1920 * 100vw);
    text-shadow: calc(1 / 1920 * 100vw) calc(1 / 1920 * 100vw)
      calc(1 / 1920 * 100vw) rgba(20, 30, 40, 0.5);
    margin: calc(6 / 1920 * 100vw) auto 0 auto;
  }
}

/* Nav */

nav#top,
nav#bot {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-around;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

/* Nav vw */

nav#top {
  border-bottom: calc(8 / 1920 * 100vw) solid rgba(120, 180, 245, 1);
}

nav#bot {
  border-top: calc(8 / 1920 * 100vw) solid rgba(120, 180, 245, 1);
}

/* Nav Media */

@media (max-width: 1920px) {
  nav#top {
    border-bottom: 8px solid rgba(120, 180, 245, 1);
  }

  nav#bot {
    border-top: 8px solid rgba(120, 180, 245, 1);
  }
}

/* Sous-Menu  */

nav#sousmenu,
nav#sousmenubas,
form,
select,
option {
  background-color: rgba(253, 254, 255, 1);
}

nav#sousmenubas a:hover,
nav#sousmenubas select:hover {
  color: rgba(195, 20, 20, 0.95);
}

a.lientv:visited,
nav#sousmenu,
nav#sousmenu form,
nav#sousmenu form select,
nav#sousmenu form select option,
nav#sousmenu form select option:visited,
nav#sousmenu form select:visited,
nav#sousmenu span,
nav#sousmenu span form select,
nav#sousmenu span form select option,
nav#sousmenu span form select option:visited,
nav#sousmenu span form select:visited,
nav#sousmenubas,
nav#sousmenubas a,
nav#sousmenubas a:visited,
nav#sousmenubas form,
nav#sousmenubas form select option,
nav#sousmenubas form select option:visited,
nav#sousmenubas select:visited,
nav#sousmenubas span,
nav#sousmenubas span a,
nav#sousmenubas span a:visited,
nav#sousmenubas span form select,
nav#sousmenubas span form select option,
nav#sousmenubas span form select option:visited,
nav#sousmenubas span form select:visited {
  color: rgba(71, 79, 87, 0.95);
  font-family: "Open Sans Condensed", sans-serif;
}

a.lientv:hover,
nav#sousmenu form select:hover,
nav#sousmenu form select option:hover,
nav#sousmenu span form select:hover,
nav#sousmenu span form select option:hover,
nav#sousmenubas a:hover,
nav#sousmenubas form select option:hover,
nav#sousmenubas span a:hover,
nav#sousmenubas span form select:hover,
nav#sousmenubas span form select option:hover {
  color: rgba(195, 20, 20, 0.95);
}

nav#sousmenu,
nav#sousmenu span,
nav#sousmenu span a,
nav#sousmenubas,
nav#sousmenubas a,
nav#sousmenubas span,
nav#sousmenubas span a,
form,
option,
select {
  align-content: center;
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "Open Sans Condensed", sans-serif;
  overflow: visible;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

nav#sousmenu,
nav#sousmenubas {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 54px;
  width: 100%;
}

/* Sous-Menu vw */

nav#sousmenu,
nav#sousmenu span,
nav#sousmenubas a,
nav#sousmenubas,
nav#sousmenubas span,
nav#sousmenubas form,
nav#sousmenubas form select,
nav#sousmenubas form option,
form,
select,
option {
  font-size: calc(18 / 1920 * 100vw);
  line-height: calc(36 / 1920 * 100vw);
}

nav#sousmenu {
  border-bottom: calc(1 / 1920 * 100vw) solid rgba(167, 168, 169, 1);
  margin: 0 0 calc(10 / 1920 * 100vw) 0;
}

nav#sousmenubas {
  border-top: calc(1 / 1920 * 100vw) solid rgba(167, 168, 169, 1);
}

nav#sousmenu span,
nav#sousmenubas span,
nav#sousmenubas form {
  margin: calc(6 / 1920 * 100vw);
}
