
/* Sous-Menus*/

nav#sousmenu,
nav#sousmenubas,
nav#sousmenu aside,
nav#sousmenubas aside {
  justify-content: space-evenly;
}

nav#sousmenubas span {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(6 / 1920 * 100vw) auto;
  width: 20%;
}

nav#sousmenu span,
nav#sousmenu aside section {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(6 / 1920 * 100vw) auto;
  width: 20%;
}

@media (max-width: 960px) {
  nav#sousmenu span,
  nav#sousmenubas span {
    margin: calc(6 / 1920 * 100vw) auto;
    width: auto;
  }
}
