
/* Thème sombre */

a,
a:link,
a:visited,
article,
aside,
aside a,
aside a:visited,
aside form,
aside form select option,
aside form select option:visited,
aside section,
aside section a,
aside section a:visited,
aside section form,
aside section form select,
aside section form select option,
aside section form select option:visited,
aside section form select:visited,
body,
div,
form,
main,
nav,
nav#bas a div,
nav#haut a div,
nav#sousmenu,
nav#sousmenu a,
nav#sousmenu a:visited,
nav#sousmenu form,
nav#sousmenu form select,
nav#sousmenu form select option,
nav#sousmenu form select option:visited,
nav#sousmenu form select:visited,
nav#sousmenu section,
nav#sousmenu section a,
nav#sousmenu section a:visited,
nav#sousmenu section form,
nav#sousmenu section form select option,
nav#sousmenu section form select option:visited,
nav#sousmenu span,
nav#sousmenu span form select,
nav#sousmenu span form select option,
nav#sousmenu span form select option:visited,
nav#sousmenu span form select:visited,
nav#sousmenubas,
nav#sousmenubas a,
nav#sousmenubas a:visited,
nav#sousmenubas form,
nav#sousmenubas form select option,
nav#sousmenubas form select option:visited,
nav#sousmenubas section,
nav#sousmenubas span,
nav#sousmenubas span a,
nav#sousmenubas span a:visited,
nav#sousmenubas span form select,
nav#sousmenubas span form select option,
nav#sousmenubas span form select option:visited,
nav#sousmenubas span form select:visited,
option,
section,
select,
span {
  color: rgba(245, 247, 251, 0.96);
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  background: rgba(34, 41, 55, 1);
}

a:hover,
a:active,
aside a:hover,
aside form select option:hover,
aside section a:hover,
aside section form select:hover,
aside section form select option:hover,
nav#sousmenu a:hover,
nav#sousmenu form select:hover,
nav#sousmenu form select option:hover,
nav#sousmenu section a:hover,
nav#sousmenu section form select option:hover,
nav#sousmenu span form select:hover,
nav#sousmenu span form select option:hover,
nav#sousmenubas a:hover,
nav#sousmenubas form select option:hover,
nav#sousmenubas span a:hover,
nav#sousmenubas span form select:hover,
nav#sousmenubas span form select option:hover {
  color: rgba(255, 210, 55, 0.96);
}

::selection {
  background: rgba(255, 247, 219, 0.98);
  color: rgba(60, 45, 0, 0.98);
}

::selection,
::-moz-selection {
  background: rgba(255, 247, 219, 0.98);
  color: rgba(60, 45, 0, 0.98);
}

/* Nav */

nav#haut,
nav#bas {
  background: linear-gradient(
    to bottom,
    rgba(33, 40, 54, 1) 5%,
    rgba(35, 42, 56, 1) 95%
  );
}

nav#sousmenu,
nav#sousmenubas,
form,
select,
option {
  background-color: rgba(50, 60, 80, 1);
}

/* Nav vw */

nav#haut,
nav#bas {
  border-bottom: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 1);
}

nav#bas {
  border-top: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 1);
}

nav#haut a div,
nav#bas a div {
  border-bottom: calc(6 / 1920 * 100vw) solid rgba(35, 42, 56, 0.01);
}

nav#haut a.pageActive div,
nav#haut a:hover div,
nav#bas a.pageActive div,
nav#bas a:hover div {
  border-bottom: calc(6 / 1920 * 100vw) solid rgba(255, 210, 55, 0.96);
}

/* Sous-Menu vw */

nav#sousmenu {
  border-bottom: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 1);
}

nav#sousmenubas {
  border-top: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 1);
}

/* Main */

.lienSite a span,
.b,
.b a {
  color: rgba(245, 247, 251, 0.98);
}

.majSite span {
  color: rgba(225, 227, 231, 0.94);
}

.ay,
a.n:hover,
.lienSite a:hover span {
  color: rgba(255, 210, 55, 0.98);
}

a.n:visited {
  color: rgba(152, 158, 170, 0.84);
}

.bu {
  color: rgba(173, 176, 182, 0.92);
}

.actu,
.ay,
.b,
.b a,
.boite,
.bu,
.siteDroite,
.siteGauche,
aside {
  background-color: rgba(50, 60, 80, 1);
}

main,
.sites,
.sitesPar2,
.siteGauche,
.siteDroite {
  background-color: rgba(34, 41, 55, 1);
}

/* Main vw */

.boite {
  border: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 1);
}

.enTete,
.lienSite,
.majSite {
  background-color: rgba(40, 50, 70, 1);
}

.enTete {
  border: calc(1 / 1920 * 100vw) solid rgba(33, 41, 52, 0.96);
}

.ay,
.bu,
.b {
  border: calc(1 / 1920 * 100vw) solid rgba(38, 46, 62, 1);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

/* Messages */

section.messagebas,
section.messagehaut {
  background-color: rgba(34, 41, 55, 1);
  color: rgba(243, 245, 249, 0.96);
}

section.messagebas {
  border-top: 1px solid rgba(34, 41, 55, 0.96);
}

section.messagehaut {
  border-bottom: 1px solid rgba(34, 41, 55, 0.96);
}

section.messagebas section a,
section.messagehaut section a,
section.messagebas section a:visited,
section.messagehaut section a:visited {
  color: rgba(255, 245, 210, 0.98);
}

section.messagebas section a:hover,
section.messagehaut section a:hover,
section.messagebas section select:hover,
section.messagehaut section select:hover {
  color: rgba(255, 210, 55, 0.98);
}

/* Media */

@media (max-width: 640px) {
  nav#haut a img,
  nav#bas a img {
    border-bottom: 6px solid rgba(35, 42, 56, 0.01);
  }

  nav#haut a.pageActive img,
  nav#haut a:hover img,
  nav#bas a.pageActive img,
  nav#bas a:hover img {
    border-bottom: 6px solid rgba(255, 210, 55, 0.96);
  }
}

@media (max-width: 1920px) {
  /* Nav */

  nav#haut,
  nav#bas {
    border-bottom: 1px solid rgba(20, 28, 42, 1);
  }

  nav#bas {
    border-top: 1px solid rgba(20, 28, 42, 1);
  }

  nav#haut a div,
  nav#bas a div {
    border-bottom: 6px solid rgba(35, 42, 56, 0.01);
  }

  nav#haut a.pageActive div,
  nav#haut a:hover div,
  nav#bas a.pageActive div,
  nav#bas a:hover div {
    border-bottom: 6px solid rgba(255, 210, 55, 0.98);
  }

  /* Sous-Menu */

  nav#sousmenu,
  nav#sousmenubas {
    border-bottom: 1px solid rgba(20, 28, 42, 1);
  }

  /* Sous-Menu Bas*/

  nav#sousmenu,
  nav#sousmenubas,
  nav#sousmenubas span,
  form,
  form select,
  form select option {
    color: rgba(243, 245, 249, 0.96);
  }

  form select:hover {
    color: rgba(255, 210, 55, 0.98);
  }

  /* Main */

  .boite {
    border: 1px solid rgba(20, 28, 42, 1);
  }

  .enTete {
    border: 1px solid rgba(33, 41, 52, 0.96);
  }

  .ay,
  .bu,
  .b {
    border: 1px solid rgba(38, 46, 62, 1);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

@media (min-width: 1921px) {
  aside.messagebas {
    border-top: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 0.96);
  }
  aside.messagehaut {
    border-bottom: calc(1 / 1920 * 100vw) solid rgba(20, 28, 42, 0.96);
  }
}
