.tvcontainer {
  justify-self: stretch;
  background-color: var(--c8);
  color: var(--c2);
  font-synthesis: small-caps auto;
  font-synthesis-weight: auto;
  font-synthesis-style: auto;
  font-variant-emoji: emoji;
  font-variant: discretionary-ligatures tabular-nums;
  outline: round(up, calc(4 / 1920 * 100vw), 2px) solid var(--c7);
  outline-offset: round(up, calc(-4 / 1920 * 100vw), 2px);
  border-radius: round(up, calc(12 / 1920 * 100vw), 6px);
  padding: round(up, calc(10 / 1920 * 100vw), 5px);
  margin-bottom: round(up, calc(6 / 1920 * 100vw), 3px);
}

.tvprogramme {
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  padding: round(up, calc(4 / 1920 * 100vw), 2px);
  margin: round(up, calc(4 / 1920 * 100vw), 2px)
    round(up, calc(6 / 1920 * 100vw), 3px)
    round(up, calc(10 / 1920 * 100vw), 5px)
    round(up, calc(6 / 1920 * 100vw), 3px);
  border-bottom: round(up, calc(2 / 1920 * 100vw), 2px) solid var(--c7);
}

.tvgrid {
  align-self: stretch;
  justify-self: stretch;
  display: grid;
  grid:
    auto-flow dense / minmax(round(up, calc(320 / 1920 * 100vw), 160px), 0.5fr)
    1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  align-content: start;
  align-items: stretch;
  justify-content: start;
  justify-items: stretch;
  margin: 0 0 round(up, calc(6 / 1920 * 100vw), 3px) 0;
  max-width: fit-content;
  overflow: hidden;
  width: inherit;
}

.tvprogtitre {
  justify-self: stretch;
  flex-wrap: wrap;
  margin-bottom: round(up, calc(2 / 1920 * 100vw), 2px);
  margin-top: round(up, calc(6 / 1920 * 100vw), 3px);
  max-width: fit-content;
  text-align: start;
  text-wrap: wrap;
  white-space: normal;
}

.tvproginfos {
  justify-self: stretch;
  flex-wrap: wrap;
  margin-bottom: round(up, calc(2 / 1920 * 100vw), 2px);
  margin-top: round(up, calc(2 / 1920 * 100vw), 2px);
  max-width: fit-content;
  text-align: start;
  text-wrap: wrap;
  white-space: normal;
}

.tvimage {
  align-self: start;
  justify-self: start;
  display: inline-flex;
  outline: round(up, calc(2 / 1920 * 100vw), 2px) solid var(--c6);
  outline-offset: round(up, calc(-2 / 1920 * 100vw), 1px);
  border-radius: round(up, calc(6 / 1920 * 100vw), 3px);
  margin: round(up, calc(4 / 1920 * 100vw), 2px) 0 0 0;
  min-width: round(up, calc(320 / 1920 * 100vw), 160px);
  min-height: round(up, calc(180 / 1920 * 100vw), 90px);
  max-height: round(up, calc(360 / 1920 * 100vw), 180px);
  height: max-content;
  max-width: fit-content;
  width: 100%;
}

.tvdescription {
  align-self: stretch;
  justify-self: start;
  display: inline-grid;
  grid-auto-flow: row dense;
  flex-wrap: wrap;
  padding-left: round(up, calc(12 / 1920 * 100vw), 6px);
  padding-right: round(up, calc(8 / 1920 * 100vw), 4px);
  padding-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
  padding-top: round(up, calc(2 / 1920 * 100vw), 2px);
  max-width: fit-content;
  text-align: start;
  text-wrap: wrap;
  white-space: normal;
}

.tvdescplus {
  align-self: stretch;
  flex-wrap: wrap;
  margin-bottom: round(up, calc(2 / 1920 * 100vw), 2px);
  max-height: round(up, calc(100 / 1920 * 100vw), 20px);
  text-align: start;
  text-wrap: wrap;
  white-space: normal;
  overflow: hidden;
}

.f18px {
  justify-self: stretch;
  flex-wrap: wrap;
  color: var(--c5);
  font-variation-settings: "wght" 500;
  max-width: fit-content;
  text-wrap: wrap;
  white-space: normal;
  overflow: hidden;
}

.f20px {
  justify-self: stretch;
  flex-wrap: wrap;
  display: flex;
  border-bottom: round(up, calc(2 / 1920 * 100vw), 2px) solid var(--c7);
  padding: round(up, calc(10 / 1920 * 100vw), 5px);
  color: var(--c10);
  font-variation-settings: "wght" 600;
  text-wrap: wrap;
  white-space: normal;
  overflow: hidden;
}

@media (max-width: 575px) {
  .tvgrid {
    display: grid;
    grid: auto-flow dense / 1fr;
    grid-template-rows: 1fr;
  }

  .tvimage {
    display: none;
  }
}
