.tvcontainer {
 justify-self: stretch;
 background-color: var(--c8);
 color: var(--c2);
 font-synthesis: small-caps auto;
 font-synthesis-weight: auto;
 font-synthesis-style: auto;
 font-variant-emoji: emoji;
 font-variant: discretionary-ligatures tabular-nums;
 outline: round(up, calc(4 / 1920 * 100vw), 2px) solid var(--c7);
 outline-offset: round(up, calc(-4 / 1920 * 100vw), 2px);
 border-radius: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-left: round(up, calc(8 / 1920 * 100vw), 4px);
 padding-right: round(up, calc(8 / 1920 * 100vw), 4px);
 padding-top: round(up, calc(8 / 1920 * 100vw), 4px);
 padding-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
 margin-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
}

.f20px {
 justify-self: stretch;
 flex-wrap: wrap;
 display: flex;
 padding-left: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-right: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-top: round(up, calc(4 / 1920 * 100vw), 2px);
 padding-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
 color: var(--c10);
 font-variation-settings: "wght" 600;
 text-wrap: wrap;
 white-space: normal;
 overflow: hidden;
}

.tvprogramme {
 align-self: stretch;
 justify-self: stretch;
 display: flex;
 flex-direction: column;
 padding-left: 0;
 padding-right: 0;
 padding-top: round(up, calc(4 / 1920 * 100vw), 2px);
 padding-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
 margin: round(up, calc(2 / 1920 * 100vw), 1px);
 border-top: round(up, calc(1 / 1920 * 100vw), 1px) solid var(--c7);
}

.tvgrid {
 align-self: stretch;
 justify-self: stretch;
 display: grid;
 grid: auto-flow dense / 1fr;
 grid-template-rows: 1fr;
 gap: 0px 0px;
 grid-template-areas: ". .";
 align-content: start;
 align-items: stretch;
 justify-content: start;
 justify-items: stretch;
 max-width: fit-content;
 overflow: hidden;
 width: inherit;
}

.tvdescription {
 align-self: stretch;
 justify-self: start;
 display: inline-grid;
 grid-auto-flow: row dense;
 flex-wrap: wrap;
 max-width: fit-content;
 text-align: start;
 text-wrap: wrap;
 white-space: normal;
}

.tvprogtitreplus {
 align-self: stretch;
 flex-wrap: wrap;
 text-align: start;
 text-wrap: wrap;
 white-space: normal;
 overflow: hidden;
 padding-left: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-right: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-top: 0;
 padding-bottom: 0;
 padding-top: 0;
 padding-bottom: 0;
 padding-top: 0;
 padding-bottom: 0;
}

.tvprogtitre {
 justify-self: stretch;
 flex-wrap: wrap;
 max-width: fit-content;
 text-align: start;
 text-wrap: wrap;
 white-space: normal;
 padding-left: 0;
 padding-right: 0;
 padding-top: round(up, calc(4 / 1920 * 100vw), 2px);
 padding-bottom: 0;
}

.f18px {
 justify-self: stretch;
 flex-wrap: wrap;
 color: var(--c5);
 font-variation-settings: "wght" 500;
 max-width: fit-content;
 text-wrap: wrap;
 white-space: normal;
 overflow: hidden;
}

.tvproginfosplus {
 align-self: stretch;
 flex-wrap: wrap;
 text-align: start;
 text-wrap: wrap;
 white-space: normal;
 overflow: hidden;
 padding-left: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-right: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-top: 0;
 padding-bottom: 0;
}

.tvproginfos {
 justify-self: stretch;
 flex-wrap: wrap;
 max-width: fit-content;
 padding-top: round(up, calc(4 / 1920 * 100vw), 2px);
 padding-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
 text-align: start;
 text-wrap: wrap;
 white-space: normal;
}

.tvdescplus {
 align-self: stretch;
 flex-wrap: wrap;
 margin-bottom: round(up, calc(4 / 1920 * 100vw), 2px);
 text-align: start;
 text-wrap: wrap;
 white-space: normal;
 overflow: hidden;
 padding-left: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-right: round(up, calc(12 / 1920 * 100vw), 6px);
 padding-top: 0;
 padding-bottom: 0;
}

.f20px {
 line-height: round(1.82rem, 1px);
}

.f18px,
.tvproginfos,
.tvdescplus {
 line-height: round(1.48rem, 1px);
}
