/* Thème sombre */

/* Couleurs */

:root {
  /* Caractères : couleur par défaut */
  --t04color001: rgba(252, 252, 255, 0.95);

  /* Fond : page */
  --t04color002a: rgba(28, 28, 31, 1);

  /* Fond : menu des pages */
  --t04color002b: rgba(40, 52, 78, 1);

  /* Caractères : liens survolés, "Aujourd'hui" et "Jours précédents". Bordure : page active en cours */
  --t04color003a: rgba(255, 210, 55, 0.95);

  /* Caractères : liens survolés des sous-menu */
  --t04color003b: rgba(28, 28, 31, 0.95);

  /* Caractères : messages, liens survolés*/
  --t04color004: rgba(255, 245, 215, 0.95);

  /* Fond : messages, liens survolés */
  --t04color005: rgba(60, 45, 0, 0.95);

  /* Fond : news */
  --t04color006a: rgba(49, 49, 60, 1);

  /* Fond : sous-menu */
  --t04color006b: rgba(83, 131, 232, 1);

  /* Bordures : couleur par défaut. Fond : messages */
  --t04color007: rgba(28, 28, 31, 1);

  /* Fond : liens des sites */
  --t04color008: rgba(40, 40, 48, 1);

  /* Bordures : news, "Aujourd'hui" et "Jours précédents" */
  --t04color009: rgba(28, 28, 31, 1);

  /* Bordure invisible : pages non sélectionnées du menu (doit être identique à --t04color002b mais avec une transparence minimale) */
  --t04color010: rgba(40, 52, 78, 0.05);

  /* Caractères : heure de maj par site */
  --t04color011: rgba(229, 229, 235, 0.95);

  /* Caractères : liens des news déjà visitées et "C’est tout pour aujourd’hui !" */
  --t04color012: rgba(170, 170, 185, 0.95);
}

/* Compatibilité ancien menu */

nav#haut,
nav#bas {
  background: linear-gradient(
    to bottom,
    rgba(0, 95, 190, 1) 5%,
    rgba(40, 130, 220, 1) 95%
  );
}

nav#haut a div,
nav#bas a div {
  color: rgba(253, 254, 255, 0.96);
}

nav#haut,
nav#bas {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  justify-content: space-around;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

nav#haut a,
nav#bas a {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  position: relative;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
}

nav#haut a img,
nav#bas a img {
  align-self: center;
  height: 5.3125vw;
  margin: 0;
  min-height: 36px;
  text-align: center;
  vertical-align: top;
  width: auto;
}

nav#haut a div,
nav#bas a div {
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  text-align: center;
  visibility: visible;
  vertical-align: top;
  width: auto;
}

/* Compatibilité ancien menu vw */

nav#haut {
  border-bottom: calc(8 / 1920 * 100vw) solid rgba(120, 180, 240, 1);
}

nav#bas {
  border-bottom: calc(8 / 1920 * 100vw) solid rgba(120, 180, 240, 1);
  border-top: calc(8 / 1920 * 100vw) solid rgba(100, 165, 230, 1);
}

nav#haut a,
nav#bas a {
  margin: calc(18 / 1920 * 100vw) 0 0 0;
}

nav#haut a div,
nav#bas a div {
  border-bottom: calc(6 / 1920 * 100vw) solid rgba(40, 130, 220, 0.04);
  font-size: calc(21 / 1920 * 100vw);
  line-height: calc(39 / 1920 * 100vw);
  text-shadow: calc(1 / 1920 * 100vw) calc(1 / 1920 * 100vw)
    calc(1 / 1920 * 100vw) rgba(20, 25, 30, 0.65);
}

nav#haut a:hover div,
nav#bas a:hover div {
  border-bottom: calc(6 / 1920 * 100vw) solid rgba(253, 254, 255, 0.96);
}

/* Media compatibilité ancien menu */

@media (max-width: 640px) {
  nav#haut a img,
  nav#bas a img {
    border-bottom: 6px solid rgba(40, 130, 220, 0.04);
    padding-bottom: 6px;
  }

  nav#haut a:hover img,
  nav#bas a:hover img {
    border-bottom: 6px solid rgba(253, 254, 255, 0.96);
    padding-bottom: 6px;
  }

  nav#haut a div,
  nav#bas a div {
    display: none;
  }
}

@media (min-width: 641px) {
  nav#haut a img,
  nav#bas a img {
    border-bottom: 0;
    padding-bottom: 0;
  }

  nav#haut a:hover img,
  nav#bas a:hover img {
    border-bottom: 0;
    padding-bottom: 0;
  }

  nav#haut a div,
  nav#bas a div {
    display: flex;
  }
}

  /* Compatibilité ancien menu */

  nav#haut {
    border-bottom: 8px solid rgba(120, 180, 240, 1);
  }

  nav#bas {
    border-bottom: 8px solid rgba(120, 180, 240, 1);
    border-top: 7px solid rgba(100, 165, 230, 1);
  }

  nav#haut a,
  nav#bas a {
    margin: 18px 0 0 0;
  }

  nav#haut a div,
  nav#bas a div {
    border-bottom: 6px solid rgba(40, 130, 220, 0.04);
  }

  nav#haut a:hover div,
  nav#bas a:hover div {
    border-bottom: 6px solid rgba(253, 254, 255, 0.96);
  }

  nav#haut a div,
  nav#bas a div {
    font-size: 21px;
    line-height: 39px;
    text-shadow: 1px 1px 1px rgba(20, 25, 30, 0.65);
  }

  /* Media compatibilité ancien menu */

@media (max-width: 960px) {
  nav#haut a div,
  nav#bas a div {
    font-size: 18px;
    line-height: 36px;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  nav#haut a div,
  nav#bas a div {
    font-size: 21px;
    line-height: 39px;
  }
}

@media (min-width: 1921px) {
  nav#haut a div,
  nav#bas a div {
    font-size: calc(21 / 1920 * 100vw);
    line-height: calc(39 / 1920 * 100vw);
  }
}

a,
a:link,
a:visited,
article,
aside,
aside a,
aside a:visited,
aside form,
aside form select option,
aside form select option:visited,
aside section,
aside section a,
aside section a:visited,
aside section form,
aside section form select,
aside section form select option,
aside section form select option:visited,
aside section form select:visited,
body,
div,
form,
main,
nav,
nav#bas a div,
nav#haut a div,
nav#sousmenu,
nav#sousmenu a,
nav#sousmenu a:visited,
nav#sousmenu form,
nav#sousmenu form select,
nav#sousmenu form select option,
nav#sousmenu form select option:visited,
nav#sousmenu form select:visited,
nav#sousmenu section,
nav#sousmenu section a,
nav#sousmenu section a:visited,
nav#sousmenu section form,
nav#sousmenu section form select option,
nav#sousmenu section form select option:visited,
nav#sousmenu span,
nav#sousmenu span form select,
nav#sousmenu span form select option,
nav#sousmenu span form select option:visited,
nav#sousmenu span form select:visited,
nav#sousmenubas,
nav#sousmenubas a,
nav#sousmenubas a:visited,
nav#sousmenubas form,
nav#sousmenubas form select option,
nav#sousmenubas form select option:visited,
nav#sousmenubas section,
nav#sousmenubas span,
nav#sousmenubas span a,
nav#sousmenubas span a:visited,
nav#sousmenubas span form select,
nav#sousmenubas span form select option,
nav#sousmenubas span form select option:visited,
nav#sousmenubas span form select:visited,
option,
section,
select,
span {
  color: var(--t04color001);
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  background: var(--t04color002a);
}

a:hover,
a:active {
  color: var(--t04color003a);
}

aside a:hover,
aside form select option:hover,
aside section a:hover,
aside section form select:hover,
aside section form select option:hover,
nav#sousmenu a:hover,
nav#sousmenu form select:hover,
nav#sousmenu form select option:hover,
nav#sousmenu section a:hover,
nav#sousmenu section form select option:hover,
nav#sousmenu span form select:hover,
nav#sousmenu span form select option:hover,
nav#sousmenubas a:hover,
nav#sousmenubas form select option:hover,
nav#sousmenubas span a:hover,
nav#sousmenubas span form select:hover,
nav#sousmenubas span form select option:hover {
  color: var(--t04color003b);
}

/* Nav */

nav#haut,
nav#bas {
  background: linear-gradient(
    to bottom,
    var(--t04color002b) 5%,
    var(--t04color002b) 95%
  );
}

nav#sousmenu,
nav#sousmenubas,
form,
select,
option {
  background-color: var(--t04color006b);
}

/* Nav vw */

nav#haut,
nav#bas {
  border-bottom: calc(1 / 1920 * 100vw) solid var(--t04color007);
}

nav#bas {
  border-top: calc(1 / 1920 * 100vw) solid var(--t04color007);
}

nav#haut a div,
nav#bas a div {
  border-bottom: calc(6 / 1920 * 100vw) solid var(--t04color010);
}

nav#haut a.pageActive div,
nav#haut a:hover div,
nav#bas a.pageActive div,
nav#bas a:hover div {
  border-bottom: calc(6 / 1920 * 100vw) solid var(--t04color003a);
}

/* Sous-Menu vw */

nav#sousmenu {
  border-bottom: calc(1 / 1920 * 100vw) solid var(--t04color007);
}

nav#sousmenubas {
  border-top: calc(1 / 1920 * 100vw) solid var(--t04color007);
}

/* Main */

.lienSite a span,
.b,
.b a {
  color: var(--t04color001);
}

.majSite span {
  color: var(--t04color011);
}

.ay,
a.n:hover,
.lienSite a:hover span {
  color: var(--t04color003a);
}

a.n:visited {
  color: var(--t04color012);
}

.bu {
  color: var(--t04color012);
}

.actu,
.ay,
.b,
.b a,
.boite,
.bu,
.siteDroite,
.siteGauche,
aside {
  background-color: var(--t04color006a);
}

main,
.sites,
.sitesPar2,
.siteGauche,
.siteDroite {
  background-color: var(--t04color002a);
}

/* Main vw */

.boite {
  border: calc(1 / 1920 * 100vw) solid var(--t04color007);
}

.enTete,
.lienSite,
.majSite {
  background-color: var(--t04color008);
}

.enTete {
  border: calc(1 / 1920 * 100vw) solid var(--t04color002a);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.ay,
.bu,
.b {
  border: calc(1 / 1920 * 100vw) solid var(--t04color009);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

/* Messages */

aside.messagebas {
  border-top: 1px solid var(--t04color007);
}
aside.messagehaut {
  border-bottom: 1px solid var(--t04color007);
}

section.messagebas,
section.messagehaut {
  background-color: var(--t04color007);
  color: var(--t04color001);
}

section.messagebas {
  border-top: 1px solid var(--t04color007);
}

section.messagehaut {
  border-bottom: 1px solid var(--t04color007);
}

section.messagebas section a,
section.messagehaut section a,
section.messagebas section a:visited,
section.messagehaut section a:visited {
  color: var(--t04color003a);
}

section.messagebas section a:hover,
section.messagehaut section a:hover,
section.messagebas section select:hover,
section.messagehaut section select:hover {
  background-color: var(--t04color005);
  color: var(--t04color004);
}

/* Media */

@media (max-width: 640px) {
  nav#haut a img,
  nav#bas a img {
    border-bottom: 6px solid var(--t04color010);
  }

  nav#haut a.pageActive img,
  nav#haut a:hover img,
  nav#bas a.pageActive img,
  nav#bas a:hover img {
    border-bottom: 6px solid var(--t04color003a);
  }
}

@media (max-width: 1920px) {
  /* Nav */

  nav#haut,
  nav#bas {
    border-bottom: 1px solid var(--t04color007);
  }

  nav#bas {
    border-top: 1px solid var(--t04color007);
  }

  nav#haut a div,
  nav#bas a div {
    border-bottom: 6px solid var(--t04color010);
  }

  nav#haut a.pageActive div,
  nav#haut a:hover div,
  nav#bas a.pageActive div,
  nav#bas a:hover div {
    border-bottom: 6px solid var(--t04color003a);
  }

  /* Sous-Menu */

  nav#sousmenu,
  nav#sousmenubas {
    border-bottom: 1px solid var(--t04color007);
  }

  /* Sous-Menu Bas*/

  nav#sousmenu,
  nav#sousmenubas,
  nav#sousmenubas span,
  form,
  form select,
  form select option {
    color: var(--t04color001);
  }

  form select:hover {
    color: var(--t04color003a);
  }

  form select:hover {
    color: var(--t04color003b);
  }

  /* Main */

  .boite {
    border: 1px solid var(--t04color007);
  }

  .enTete {
    border: 1px solid var(--t04color002a);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .ay,
  .bu,
  .b {
    border: 1px solid var(--t04color009);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

@media (min-width: 1921px) {
  aside.messagebas {
    border-top: calc(1 / 1920 * 100vw) solid var(--t04color007);
  }
  aside.messagehaut {
    border-bottom: calc(1 / 1920 * 100vw) solid var(--t04color007);
  }
}
