.mid,
.site {
  background-color: var(--c5);
}

.conteneur {
  background-color: var(--c5);
}

.titre_site {
  color: var(--c9);
}

.titre_site:hover {
  color: var(--c3);
}

.news_today {
  color: var(--c10);
}

.ay {
  color: var(--c3);
}

.bu {
  color: var(--c4);
}

.b,
a.n {
  color: var(--c2);
}

a.n:visited {
  color: var(--c4);
}

a.n:hover {
  color: var(--c3);
}

.mid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: start;
  align-content: start;
  justify-content: start;
  justify-items: start;
  overflow: hidden;
  width: 100%;
}

.site {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.conteneur {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.actu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
  overflow: hidden;
}

.en_tete {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0px 0px;
  align-items: center;
  overflow: hidden;
}

.lien_site {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  gap: 0px 6px;
  align-items: center;
  text-align: left;
  vertical-align: middle;
}

img.logo_site {
  vertical-align: middle;
}

.titre_site {
  display: inline;
  font-family: "Sriracha", "Segoe Print", "Brush Script", "color-emoji",
    "Noto Color Emoji";
  text-align: left;
  vertical-align: middle;
}

.news_today {
  display: inline;
  font-family: "Sriracha", "Segoe Print", "Brush Script", "color-emoji",
    "Noto Color Emoji";
  text-align: right;
  vertical-align: middle;
}

.b,
.ay,
.bu {
  display: block;
  overflow: hidden;
  width: 100%;
}

.ay {
  font-weight: 500;
}

.b,
a.n {
  overflow: hidden;
  white-space: nowrap;
}

a.n {
  display: inline;
  vertical-align: middle;
}

@media (max-width: 1280px) {
  .mid {
    grid-template-columns: 1fr;
    margin-bottom: 12px;
  }

  .conteneur {
    margin-left: 10px;
    margin-top: 10px;
    height: calc(100% - 11px);
    width: calc(100% - 20px);
  }

  .en_tete {
    border-bottom: 1px solid var(--c11);
    margin: 8px 8px 4px 8px;
    width: calc(100% - 16px);
  }

  .lien_site {
    gap: 0px 6px;
    margin: 8px;
  }

  .news_today {
    margin: 8px;
  }

  img.logo_site {
    height: 28px;
    width: auto;
  }

  .actu {
    padding: 0 16px;
  }

  .b,
  .ay,
  .bu {
    border-bottom: 1px solid var(--c12);
    padding: 4px 0 4px 8px;
  }

  .b,
  a.n {
    white-space: normal;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  .mid {
    margin-bottom: 16px;
    width: calc(100% - 12px);
  }

  .conteneur {
    margin-left: 12px;
    margin-top: 12px;
    height: calc(100% - 13px);
    width: calc(100% - 12px);
  }

  .en_tete {
    border-bottom: 1px solid var(--c11);
    margin: 12px 12px 6px 12px;
    width: calc(100% - 24px);
  }

  .lien_site {
    gap: 0px 6px;
    margin: 12px;
  }

  .news_today {
    margin: 12px;
  }

  img.logo_site {
    height: 32px;
    width: auto;
  }

  .titre_site {
    font-size: 18px;
    line-height: 32px;
    padding-left: 5px;
  }

  .actu {
    padding: 0 18px;
  }

  .b,
  .ay,
  .bu {
    border-bottom: 1px solid var(--c12);
  }

  a.n,
  .ay,
  .bu {
    line-height: 35px;
    padding-left: 9px;
  }
}

@media (min-width: 1921px) {
  .mid {
    margin-bottom: calc(16 / 1920 * 100vw);
    width: calc(100% - calc(12 / 1920 * 100vw));
  }

  .conteneur {
    margin-left: calc(12 / 1920 * 100vw);
    margin-top: calc(12 / 1920 * 100vw);
    height: calc(100% - calc(13 / 1920 * 100vw));
    width: calc(100% - calc(12 / 1920 * 100vw));
  }

  .en_tete {
    border-bottom: calc(1 / 1920 * 100vw) solid var(--c11);
    margin: calc(12 / 1920 * 100vw) calc(12 / 1920 * 100vw)
      calc(6 / 1920 * 100vw) calc(12 / 1920 * 100vw);
    width: calc(100% - calc(24 / 1920 * 100vw));
  }

  .lien_site {
    gap: 0px calc(12 / 1920 * 100vw);
    margin: calc(12 / 1920 * 100vw);
  }

  .news_today {
    margin: calc(12 / 1920 * 100vw);
  }

  img.logo_site {
    height: calc(32 / 1920 * 100vw);
    width: auto;
  }

  .titre_site {
    font-size: calc(18 / 1920 * 100vw);
    line-height: calc(32 / 1920 * 100vw);
    padding-left: calc(5 / 1920 * 100vw);
  }

  .actu {
    padding: 0 calc(18 / 1920 * 100vw);
  }

  .b,
  .ay,
  .bu {
    border-bottom: calc(1 / 1920 * 100vw) solid var(--c12);
  }

  a.n,
  .ay,
  .bu {
    line-height: calc(35 / 1920 * 100vw);
    padding-left: calc(9 / 1920 * 100vw);
  }
}
