/* Couleurs */

:root {
  --c1: rgb(24, 25, 38);

  --c2: rgb(212, 221, 255);

  --c3: rgb(238, 212, 133);

  --c4: rgb(110, 115, 141);

  --c5: rgb(36, 39, 58);

  --c6: rgb(30, 32, 48);

  --c7: rgb(198, 160, 246);

  --c8: rgb(184, 192, 224);

  --c9: rgb(112, 213, 202);

  --c10: rgb(138, 173, 244);

  --c11: rgb(91, 96, 120);

  --c12: rgb(73, 77, 100);

  --c14: rgb(49, 50, 68);

  --c1tv:rgb(184, 192, 224);
}
